<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>聽 der! 找尋專屬於你的聲音</title>
    <link href="style/common.css" rel="stylesheet" type="text/css">
    <link href="style/fb.css" rel="stylesheet" type="text/css">
</head>

<body>
    <img class="header-img" src="../src/header.png">
    <div class="header">使用Facebook快速登入</div>
    <img class="fb-logo" src="../src/logo.png"/>
    <div class="wrap">
        <div>以下將授權「聽der」使用Yoyo的身分</div>
        <div>請確認是否為您本人</div>
        <button onclick="goBack()">確認</button>
        <button>取消</button>
    </div>
    <script src="scripts/fb.js"></script>
</body>

</html>