<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>聽 der! 找尋專屬於你的聲音</title>
        <link href="style/common.css" rel="stylesheet" type="text/css">
        <link href="style/mainPage.css" rel="stylesheet" type="text/css">
        <link href="style/userInfo.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="wrap">
            <div class="left-nav">
                <div onclick="goUserInfoFunc()">帳戶資訊</div>
                <div>首頁</div>
                <div>探索</div>
                <div>音樂庫</div>
                <img class="logout" src="../src/logout.png" onclick="logout()">
            </div>
            <div class="middle-main">
                <div class="middle-main-top">
                    <div class="middle-main-top-block">
                        <img class="middle-main-top-block-sticker">
                        <p class="middle-main-top-block-name"></p>
                        <img class="middle-main-top-block-menu">
                    </div>
                </div>
                <div class="middle-main-middle"></div>
                <div class="middle-main-below"></div>
            </div>
            <div class="right-link"></div>
        </div>
        <div class="mask">
            <img class="logo" src="../src/logo.png">
            <img class="left" src="../src/left.png">
            <img class="right" src="../src/right.png">
        </div>
        <script src="scripts/mainPage.js"></script>
        <script src="scripts/userInfo.js"></script>
    </body>
</html>