<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>聽 der! 找尋專屬於你的聲音</title>
        <link href="style/common.css" rel="stylesheet" type="text/css">
        <link href="style/mainPage.css" rel="stylesheet" type="text/css">
        <link href="style/userInfo.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="wrap">
            <div class="left-nav">
                <div onclick="goUserInfoFunc()">帳戶資訊</div>
                <div>首頁</div>
                <div>探索</div>
                <div>音樂庫</div>
                <img class="logout" src="../src/logout.png" onclick="logout()">
            </div>
            <div class="middle-main">
                <div class="middle-main-top">
                    <div class="middle-main-top-block">
                        <img class="middle-main-top-block-sticker">
                        <p class="middle-main-top-block-name">87white</p>
                        <img class="middle-main-top-block-menu" src="../src/triangle.png">
                    </div>
                </div>
                <div class="middle-main-middle">
                    <div class="profile">
                        <img class="profile-sticker">
                        <div class="profile-info">
                            <p>87white</p>
                            <p>123</p>
                            <p>456</p>
                            <p>789</p>
                        </div>
                    </div>
                    <div class="music">
                        <p class="music-title">音樂庫</p>
                        <hr>
                        <div class="music-blocks">
                            <div class="music-block">
                                <img class="music-block-cover">
                                <div class="music-block-intro">
                                    <div class="music-block-intro-main">
                                        <div class="music-block-intro-main-name">大</div>
                                        <div class="music-block-intro-main-produce">RickWu</div>
                                    </div>
                                    <div class="music-block-intro-blank"></div>
                                    <div class="music-block-intro-type">民謠</div>
                                </div>
                            </div>
                            <div class="music-block">點擊以查看更多</div>
                        </div>
                    </div>
                </div>
                <div class="middle-main-below">
                    <div class="podcast">
                        <p class="podcast-title">已按讚的Podcast</p>
                        <hr>
                        <div class="podcast-blocks">
                            <div class="podcast-block">
                                <img class="podcast-block-cover">
                                <div class="podcast-block-intro">
                                    <div class="podcast-block-intro-main">
                                        <div class="podcast-block-intro-main-name">大</div>
                                        <div class="podcast-block-intro-main-produce">RickWu</div>
                                    </div>
                                    <div class="podcast-block-intro-blank"></div>
                                    <div class="podcast-block-intro-type">民謠</div>
                                </div>
                            </div>
                            <div class="podcast-block">點擊以查看更多</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-link">
                <p class="right-link-title">連結你的社群媒體!</p>
                <hr>
                <p class="right-link-body">
                    透過將「聽der」帳戶連結至您<u>Facebook</u>、
                    <u>Instagram</u>、<u>Twitter</u>等社群媒體，
                    可以讓您即時分享在「聽der」的近況給您的朋友們!<br>
                    點擊上方連結，或是至「帳戶資訊」頁面中「社群媒體」
                    進行設定!
                </p>
            </div>
        </div>
        <!-- <div class="mask">
            <img class="logo" src="../src/logo.png">
            <img class="left" src="../src/left.png">
            <img class="right" src="../src/right.png">
        </div> -->
        <script src="scripts/mainPage.js"></script>
        <script src="scripts/userInfo.js"></script>
    </body>
</html>