<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>聽 der! 找尋專屬於你的聲音</title>
        <link href="style/common.css" rel="stylesheet" type="text/css">
        <link href="style/main-page.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="wrap">
            <div class="left-nav">
                <div>...</div>
                <div>首頁</div>
                <div>探索</div>
                <div>音樂庫</div>
            </div>
            <div class="middle-main">
                <div class="middle-main-top">
                    <div class="middle-main-top-block">
                        <img class="middle-main-top-block-sticker">
                        <p class="middle-main-top-block-name"></p>
                        <img class="middle-main-top-block-menu">
                    </div>
                </div>
                <div class="middle-main-middle"></div>
                <div class="middle-main-below"></div>
            </div>
            <div class="right-link"></div>
        </div>
        <script src="scripts/main-page.js"></script>
    </body>
</html>