<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>聽 der! 找尋專屬於你的聲音</title>
        <link href="style/common.css" rel="stylesheet" type="text/css">
        <link href="style/main-page.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="wrap">
            <ul class="left-nav">
                <li>...</li>
                <li>首頁</li>
                <li>探索</li>
                <li>音樂庫</li>
            </ul>
            <div class="middle-main">
                <div class="middle-main-top"></div>
                <div class="middle-main-below"></div>
            </div>
            <div class="right-link"></div>
        </div>
        <script src="scripts/main-page.js"></script>
    </body>
</html>