<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>註冊「聽 der!」帳戶</title>
    <link href="style/common.css" rel="stylesheet" type="text/css">
    <link href="style/registerSecond.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="wrap">
        <h1 class="title">選擇您的動物頭貼吧!</h1>
        <div class="animals"></div>
        <img class="background" src="../src/register_background.png">
        <img class="background-other" src="../src/register_background_other.png">
    </div>
    <script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-storage.js"></script>
    <script src="scripts/registerSecond.js"></script>
</body>

</html>