<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>開始探索你的緣分</title>
        <link href="style/common.css" rel="stylesheet" type="text/css">
        <link href="style/search.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="main-block"></div>
        <div class="background"></div>
        <img class="like" onclick="likeOrDislike(this)" src="../src/next.png" alt="like">
        <img class="dislike" onclick="likeOrDislike(this)" src="../src/previous.png" alt="dislike">
        <div class="wrap"></div>
        <img class="logo" src="../src/logo.png">
        <img class="left" src="../src/left.png">
        <img class="right" src="../src/right.png">
        <div class="mask"></div>
        <script src="scripts/search.js"></script>
    </body>
</html>