.wrap {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.left-nav {
  background-color: #121e35;
  color: white;
  height: 100vh;
  margin: 0;
  position: fixed;
  width: 20vw;
  z-index: 3;
}

.left-nav > div {
  border-bottom: 1px solid white;
  cursor: pointer;
  font-size: 1.7vw;
  height: 10vh;
  line-height: 10vh;
  padding-left: 3vw;
}

.left-nav > div:hover {
  background-color: #a2b6db;
}

.logout {
  border-radius: 99vw;
  cursor: pointer;
  height: 4vw;
  left: 5vw;
  position: fixed;
  top: 72vh;
  width: 4vw;
}

.logout:hover {
  background-color: #00b8ff;
}

.chat {
  border-radius: 99vw;
  cursor: pointer;
  height: 4vw;
  left: 11vw;
  position: fixed;
  top: 72vh;
  width: 4vw;
}

.chat:hover {
  background-color: #00b8ff;
}

.middle-main {
  display: flex;
  flex-direction: column;
  height: 200vh;
  margin-left: 20vw;
  width: 55vw;
}

.middle-main-top {
  background-color: #344d7be5;
  height: 12vh;
  left: 0vw;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.middle-main-buttom {
  background-color: transparent;
  height: 100vh;
  padding: 10vw;
  padding-top: 90vh;
  width: 35vw;
  position: fixed;
}

.middle-main-top-block {
  background-color: #b5cfff44;
  border-radius: 1vh;
  height: 7vh;
  position: absolute;
  right: 27vw;
  top: 2.5vh;
  width: 20vw;
}

.middle-main-top-block-sticker {
  background-color: white;
  box-shadow: inset 0 0 0.3vh 0.3vh black;
  cursor: pointer;
  height: 5vh;
  position: absolute;
  left: 1vw;
  top: 1vh;
  width: 5vh;
}

.middle-main-top-block-name {
  cursor: pointer;
  position: absolute;
  left: 4vw;
  top: -0.4vh;
}

.middle-main-top-block-menu {
  cursor: pointer;
  height: 2vh;
  opacity: 0.6;
  position: absolute;
  right: 1vw;
  top: 2.5vh;
}

.middle-main-middle {
  background: linear-gradient(#63759b, rgb(50, 55, 66));
  box-shadow: inset 0 0.5vh 2.5vmin 0.3vmin black;
  color: white;
  height: 22vh;
  margin-top: 12vh;
  padding: 7vw;
  padding-top: 7vh;
  width: 41vw;
}

.album-main {
  display: flex;
  flex-direction: row;
}

.album-img {
  background-color: rgb(199, 199, 199);
  border-radius: 1vw;
  height: 14vw;
  margin-right: 3vw;
  width: 14vw;
}

.album-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.album-text > div {
  padding-top: 0.5vh;
  width: 24vw;
}

.album-name {
  font-size: 60px;
}

.album-fig {
  color: #a2b6db;
  font-size: 5px;
}

.album-info {
  color: #a2b6db;
  font-size: 5px;
}

.middle-main-below {
  background: linear-gradient(#3f4b64, #1b1e24);
  box-shadow: inset 0 -1.5vh 2.5vmin 1.5vmin rgb(26, 26, 26);
  color: white;
  height: 210vh;
  padding: 7vw;
  padding-top: 10vh;
  width: 41vw;
}

.list-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 10vh;
  width: 43vw;
}

.list-header > img {
  cursor: pointer;
  height: 4vh;
  margin: 1vw;
  margin-top: -2vw;
  width: 4vh;
}

.list-header > img:nth-of-type(3) {
  height: 1vh;
  width: 5vh;
}

.list-header-blank {
  flex-grow: 1;
}

.list-header > input {
  background: none;
  border: none;
  border-bottom: solid 1px rgb(168, 168, 168);
  color: white;
  margin-top: -3vw;
  width: 4vw;
}

.list-wrapper {
  align-items: center;
  color: rgb(168, 168, 168);
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-left: 3vw;
  margin-top: 2vw;
  width: 40vw;
}

.album-title {
  cursor: pointer;
}

.clock {
  width: 1vw;
}

.right-link {
  background-color: #121e35;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  right: 0;
  width: 25vw;
  z-index: 1;
}

.right-link-title {
  font-size: x-large;
  text-align: center;
}

.right-link > hr {
  border: 0.1px solid white;
  width: 100%;
}

.right-link-body {
  font-size: medium;
  line-height: 4.5vh;
  padding: 3vw;
  padding-top: 5vh;
  padding-bottom: 0;
}

.right-link-body > u {
  color: #00b8ff;
}

.background-other {
  animation: move-left 1.5s ease-out 0s 1 normal forwards;
  height: 100vh;
  left: 100%;
  position: fixed;
  z-index: 2;
}

@keyframes move-left {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(-250vw);
  }
}

.bottom-controler {
  align-items: center;
  background-color: #233555;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 15vh;
  position: fixed;
  width: 100vw;
  z-index: 5;
}

.controler {
  display: flex;
  flex-direction: row;
  height: 10vh;
}

.controler > img {
  cursor: pointer;
}

.progress {
  display: flex;
  flex-direction: column;
  height: 4vh;
  justify-content: center;
  position: relative;
}

.progress-plot {
  background-color: white;
  border-radius: 10vh;
  cursor: pointer;
  height: 2vh;
  position: absolute;
  width: 2vh;
}

.progress-line {
  background-color: rgb(192, 192, 192);
  border-radius: 1vh;
  height: 0.5vh;
  width: 40vw;
}
