@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&display=swap");

body {
  font-family: "Noto Sans TC", sans-serif;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

u {
  cursor: pointer;
}

/* customize */
.mask {
  animation: fade-out 0.5s ease-out 1s 1 normal forwards;
  background-color: black;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}

.logo {
  animation: fade-out 0.5s ease-out 1s 1 normal forwards;
  height: 14vw;
  left: 43vw;
  position: fixed;
  top: 31vh;
  width: 14vw;
  z-index: 12;
}

.left {
  animation: fade-left-out 1.5s ease-out 0s 1 normal forwards;
  height: 9vw;
  left: 42vw;
  opacity: 0;
  position: fixed;
  top: 31vh;
  width: 14vw;
  z-index: 11;
}

.right {
  animation: fade-right-out 1.5s ease-out 0s 1 normal forwards;
  height: 9vw;
  right: 42vw;
  opacity: 0;
  position: fixed;
  bottom: 39vh;
  width: 14vw;
  z-index: 11;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-left-out {
  0% {
    opacity: 0;
    transform: translateX(-10vw);
  }
  50% {
    opacity: 1;
    transform: translateX(0vw);
  }
  66% {
    opacity: 1;
    transform: translateX(0vw);
  }
  100% {
    opacity: 0;
    transform: translateX(-10vw);
  }
}

@keyframes fade-right-out {
  0% {
    opacity: 0;
    transform: translateX(10vw);
  }
  50% {
    opacity: 1;
    transform: translateX(0vw);
  }
  66% {
    opacity: 1;
    transform: translateX(0vw);
  }
  100% {
    opacity: 0;
    transform: translateX(10vw);
  }
}
