.wrap {
  animation: fade-in 0.5s ease-out 0s 1 normal forwards;
  height: 100vh;
  overflow: hidden;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.middle-main {
  align-items: left;
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: 30vw;
  position: fixed;
  padding: 10vw;
  padding-top: 2vw;
  width: 20vw;
  z-index: 2;
}

.middle-main-title {
  color: white;
  font-size: xx-large;
}

.form {
  padding-left: 3vw;
}

.form > p {
  color: white;
  font-size: x-large;
  transform: translateY(-4vh);
}

.form > input {
  background-color: black;
  border: 0.3vh solid white;
  border-radius: 1vw;
  color: white;
  font-size: medium;
  height: 4vh;
  text-align: center;
  transform: translate(0vw, -4vh);
  width: 16vw;
}

.form > input:focus {
  border: 0.4vh solid #00f9ff;
  transform: translate(-2vw, -4vh);
  width: 20vw;
}

.register-btn {
  background-color: black;
  border: 0.3vh solid white;
  border-radius: 2vw;
  color: white;
  cursor: pointer;
  height: 6vh;
  margin-left: 7.5vw;
  width: 8vw;
}

.register-btn:hover {
  background-color: #5269ff;
  color: white;
}

.fail {
  color: #ff0000;
  display: inline;
  opacity: 0;
  padding-left: 2vw;
}

.background {
  height: 60vw;
  left: 20vw;
  position: fixed;
  top: -10vh;
  width: 60vw;
  z-index: 1;
}

.background-other {
  animation: fade-repeat 2s ease-in-out 0s infinite alternate none;
  width: 100vw;
}

@keyframes fade-repeat {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}

.sideInfo {
  align-items: center;
  background-color: #000133;
  border-radius: 1vw;
  color: white;
  display: flex;
  flex-direction: column;
  height: 26vh;
  padding: 3vw;
  position: fixed;
  right: -21vw;
  top: 27vh;
  width: 15vw;
  z-index: 2;
}

.sideInfo-moveLeft {
  animation: move-left 0.3s cubic-bezier(0.04, 0.93, 0.34, 0.99) 0s 1 normal
    forwards;
}

.sideInfo-moveRight {
  animation: move-right 0.3s cubic-bezier(0.04, 0.93, 0.34, 0.99) 0s 1 normal
    forwards;
}

@keyframes move-left {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(-23vw);
  }
}

@keyframes move-right {
  0% {
    transform: translateX(-23vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

.sideInfo-title {
  font-size: x-large;
}

.sideInfo-intro {
  font-size: medium;
}
