<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>馬上登入「聽 der!」</title>
        <link href="style/common.css" rel="stylesheet" type="text/css">
        <link href="style/login.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="wrap">
            <div class="block"></div>
            <img class="logo">
            <form name="update" class="form">
                <p>性別</p>
                <input type="text" name="sex" placeholder="請輸入性別" value="male">
                <p>生日</p>
                <input type="text" name="birthday" placeholder="請輸入生日" value="2001-02-09">
                <p>感情狀態</p>
                <input type="text" name="emotional" placeholder="請輸入感情狀態" value="single">
                <p>音樂</p>
                <input type="text" name="music" placeholder="請輸入音樂類型" value="jaz">
            </form>
            <button class="login-btn" onclick="updateFunc()">登入</button>
            <p class="login-fail">帳號或密碼錯誤!</p>
            <img class="background" src="../src/login_background.png">
        </div>
        <script src="scripts/update.js"></script>
    </body>
</html>