.userInfo-wrap {
  animation: fade-in 0.5s linear 0s 1 normal forwards;
  box-shadow: inset 0 0 10px 3px black;
  height: 100vh;
  left: 20vw;
  position: fixed;
  width: 80vw;
  z-index: 2;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.userInfo-below {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 12vh;
  left: 20vw;
  position: fixed;
  top: 5vh;
  transform: translateX(15%);
  width: 80vw;
  z-index: 3;
}

.update-btn {
  border-radius: 1vh;
  cursor: pointer;
  height: 15vh;
  margin-left: 16vw;
  margin-top: 5vh;
  width: 4vw;
}

.update-btn:hover {
  background-color: #5269ff;
  color: white;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0.5vw;
  margin-left: 16vw;
}

.form > p {
  text-align: center;
  margin-top: 3vh;
}

.form > input {
  border-radius: 1vh;
  height: 3vh;
  text-align: center;
  margin-top: 1vh;
  width: 10vw;
}

.form > textarea {
  border-radius: 1vh;
  height: 9vh;
  text-align: center;
  margin-top: 1vh;
  margin-bottom: 3vh;
  width: 10vw;
}

.animals {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 10vw;
}

.animal {
  background-color: white;
  border-radius: 1vh;
  cursor: pointer;
  height: 4vh;
  margin-left: 1.2vh;
  margin-bottom: 1.2vh;
  width: 4vh;
}

.animal:hover {
  height: 3.6vh;
  border: 0.2vh solid red;
  width: 3.6vh;
}

.animal-selected {
  height: 3.6vh;
  border: 0.2vh solid red;
  width: 3.6vh;
}

.background {
  height: 100vh;
  left: 20vw;
  position: fixed;
  z-index: 1;
}
